<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="auth-wrap">
    <p class="sd-muted">Enter the email associated with your account and we'll send you a link to reset your password.</p>

    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">
      @if (message()) {
        <div class="auth-alert" [class.error]="isError()" [class.success]="!isError()">{{ message() }}</div>
      }

      <ion-item class="auth-item" lines="none">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input type="email" label="Email" labelPlacement="floating" formControlName="email"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="sd-gradient-btn" [disabled]="submitting()">
        @if (submitting()) {
          <ion-spinner name="dots"></ion-spinner>
        } @else {
          Send Reset Link
        }
      </ion-button>
    </form>
  </div>
</ion-content>
